<ion-header>
  <ion-toolbar>
    <ion-title>
      Buy in
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-item>
      <!--
      <ion-avatar item-start>
        <img src="{{player.image}}">
      </ion-avatar>
      -->
      <h2>{{player.nickname}}</h2>
      <p>{{player.name}} {{player.surname}}</p>
      <ion-note item-end>
        <ion-icon name="help-buoy"></ion-icon> {{totalBuyIn}}
      </ion-note>
  </ion-item>
  <ion-list>
      <ion-item *ngFor="let item of player['buyIns']">
        <ion-icon name="help-buoy"></ion-icon> {{item.amount}}
        <ion-note item-end>
          {{item.date}}
        </ion-note>
      </ion-item>
  </ion-list>  
  <ion-grid *ngIf="addingChips">
    <ion-grid>
      <ion-row>
        <ion-col width-25>
          <ion-row>
            <button ion-button round class="wrong-color">
              <ion-icon name="remove"></ion-icon>
            </button>
          </ion-row>
        </ion-col>
        <ion-col width-50>
          <ion-item>
            <ion-input type="number" placeholder="Amout of chips"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col width-25>
          <ion-row>
            <button ion-button round class="right-color">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
  <ion-grid *ngIf="addingChips == false">
    <ion-row>
      <ion-col width-50>
        <button (click)="openAddChips()" ion-button round outline icon-start style="width:100%;">
          <ion-icon name="add"></ion-icon>Chips
        </button>
      </ion-col>
      <ion-col width-50>
        <button (click)="removePlayer(player.id)" ion-button round outline icon-start style="width:100%;">
          <ion-icon name="remove"></ion-icon>Remove Player
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
